{{- $imageName := .Get "src" -}}
{{- $alt := .Get "alt" -}}
{{- $image := resources.Get $imageName -}}

<figure>
<img src="{{ $image.RelPermalink }}" alt="{{ $alt }}" loading="lazy">

{{ with $image.Exif }}
 <figcaption>
<p>{{ $alt }}{{ with .Tags.ExposureTime }}{{ . }}{{ end }}{{ with .Tags.FNumber }}&emsp;<i>@f/</i>{{ . }}{{ end }}{{ with .Tags.ExposureTime }}{{ end }}{{ with .Tags.ISOSpeedRatings }} ISO {{ . }}&emsp; {{ end }}{{ with .Tags.FocalLength }}{{ . }}mm{{ end }}</p>
 </figcaption>

{{ end }}
</figure>
